.grid {
    position: relative;
    left: 35px

    /* left: "50%",
    top: "50%",
    transform: "translateX(-50%) translateY(-50%)" */
}

.col {

    display: inline-grid;
}

.logo {
    color: #B0E0E6;
    padding-top: 10px;
    padding-bottom: 50px;
}
